@using MvcTest.Extensions;
@using MvcTest.Models;
@{
    MvcTest.Models.Manager Manager = new Manager();
    try
    {
        Manager = Extension.GetUser(this.User);
        if (Manager == null)
        {
            Response.Redirect("/Login/Index");
        }
    }
    catch (Exception ex)
    {
        Response.Redirect("/Login/Index");
    }
}

<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li class="dropdown" id="profile-messages">
            <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">欢迎 @Manager.CName</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Manager/PersonalInfo"><i class="icon-user"></i> 个人信息</a></li>
                <li class="divider"></li>
                <li><a href="/Manager/EditPassword/@Manager.MID"><i class="icon-check"></i> 修改密码</a></li>
                <li class="divider"></li>
                <li><a href="/Login/LoginOut"><i class="icon-key"></i> 退出</a></li>
            </ul>
        </li>
        <li class="dropdown" id="menu-messages">
            <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">消息</span> <span class="label label-important">5</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> 清除缓存</a></li>
                <li class="divider"></li>
                <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> 暂无内容</a></li>
                <li class="divider"></li>
                <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> 暂无内容</a></li>
                <li class="divider"></li>
                <li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> 刷新</a></li>
            </ul>
        </li>
        <li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">设置</span></a></li>
        <li class=""><a title="" href="/Login/LoginOut"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
    </ul>
</div>


@section FootBottom{
    <script>
        function ClearCache() {

            $.ajax({
                type: "post", url: "/Login/ClearCache", dataType: "text", success: function (data) {
                    if (data.toString() == "OK") {
                        layer.load("缓存已清除，正在刷新", 0);
                        location.reload();
                    }
                    else {
                        layer.msg('缓存清除失败，请联系管理员', 2);
                    }
                }
            });
        }
    </script>

}
