@section HeadContent{
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/css/matrix-media.css" />
}
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="container-fluid">
        <div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"> <a href="index.html"> <i class="icon-dashboard"></i> <span class="label label-important">20</span> My Dashboard </a> </li>
                <li class="bg_lg span3"> <a href="charts.html"> <i class="icon-signal"></i> Charts</a> </li>
                <li class="bg_ly"> <a href="widgets.html"> <i class="icon-inbox"></i><span class="label label-success">101</span> Widgets </a> </li>
                <li class="bg_lo"> <a href="tables.html"> <i class="icon-th"></i> Tables</a> </li>
                <li class="bg_ls"> <a href="grid.html"> <i class="icon-fullscreen"></i> Full width</a> </li>
                <li class="bg_lo span3"> <a href="form-common.html"> <i class="icon-th-list"></i> Forms</a> </li>
                <li class="bg_ls"> <a href="buttons.html"> <i class="icon-tint"></i> Buttons</a> </li>
                <li class="bg_lb"> <a href="interface.html"> <i class="icon-pencil"></i>Elements</a> </li>
                <li class="bg_lg"> <a href="calendar.html"> <i class="icon-calendar"></i> Calendar</a> </li>
                <li class="bg_lr"> <a href="error404.html"> <i class="icon-info-sign"></i> Error</a> </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box widget-plain">
                    <div class="center">
                        <ul class="stat-boxes2">
                            <li>
                                <div class="left peity_bar_neutral">
                                    <span>
                                        <span style="display: none;">2,4,9,7,12,10,12</span>
                                        <canvas width="50" height="24"></canvas>
                                    </span>+10%
                                </div>
                                <div class="right"> <strong>15598</strong> 访问量 </div>
                            </li>
                            <li>
                                <div class="left peity_line_neutral">
                                    <span>
                                        <span style="display: none;">10,15,8,14,13,10,10,15</span>
                                        <canvas width="50" height="24"></canvas>
                                    </span>10%
                                </div>
                                <div class="right"> <strong>150</strong> 新用户 </div>
                            </li>
                            <li>
                                <div class="left peity_bar_bad">
                                    <span>
                                        <span style="display: none;">3,5,6,16,8,10,6</span>
                                        <canvas width="50" height="24"></canvas>
                                    </span>-40%
                                </div>
                                <div class="right"> <strong>4560</strong> 订单量</div>
                            </li>
                            <li>
                                <div class="left peity_line_good">
                                    <span>
                                        <span style="display: none;">12,6,9,23,14,10,17</span>
                                        <canvas width="50" height="24"></canvas>
                                    </span>+60%
                                </div>
                                <div class="right"> <strong>5672</strong> Active Users </div>
                            </li>
                            <li>
                                <div class="left peity_bar_good"><span>12,6,9,23,14,10,13</span>+30%</div>
                                <div class="right"> <strong>2560</strong> 注册量</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-th"></i> </span>
                        <h5>最近更新功能</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>功能名称</th>
                                    <th>描述</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX">
                                    <td>站点日志</td>
                                    <td>记录站的的所有日志</td>
                                    <td>完成</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>基础菜单</td>
                                    <td>包括权限用户管理</td>
                                    <td>完成</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>cms系统</td>
                                    <td>包括频道、新闻、图片、留言等管理</td>
                                    <td>完成80%</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>数据权限</td>
                                    <td>细化用户权限部分</td>
                                    <td>完成80%</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>MemCached</td>
                                    <td>更加友好的用户体验，缓存数据（采用memcache 分布式缓存）</td>
                                    <td>完成</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>WAP、移动客户端接口</td>
                                    <td>用于手机站点数据读写接口（包括移动web站、手机app）</td>
                                    <td>未开始</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>模板制作</td>
                                    <td>用于生成各终端ui及简单业务逻辑</td>
                                    <td>未开始</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>Web IM管理系统</td>
                                    <td>用于客户服务中心</td>
                                    <td>未开始</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>数据采集系统</td>
                                    <td>包括采集列表、正则管理、内容管理等管理</td>
                                    <td>未开始</td>
                                </tr>
                                <tr class="odd gradeX">
                                    <td>支付系统</td>
                                    <td>对接网银、支付宝、微信等支付接口</td>
                                    <td>未开始</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End-breadcrumbs-->
    </div>
</div>


@section FootContent{
    <script src="~/Scripts/js/excanvas.min.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.flot.min.js"></script>
    <script src="~/Scripts/js/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/js/jquery.peity.min.js"></script>
    @*<script src="~/Scripts/js/fullcalendar.min.js"></script>*@
    <script src="~/Scripts/js/matrix.js"></script>
    <script src="~/Scripts/js/matrix.dashboard.js"></script>
    @*<script src="~/Scripts/js/jquery.gritter.min.js"></script>
        <script src="~/Scripts/js/matrix.interface.js"></script>*@
    <script src="~/Scripts/js/matrix.chat.js"></script>
    @*   <script src="~/Scripts/js/jquery.validate.js"></script>
        <script src="~/Scripts/js/matrix.form_validation.js"></script>*@
    @*<script src="~/Scripts/js/jquery.wizard.js"></script>*@
    <script src="~/Scripts/js/jquery.uniform.js"></script>
    <script src="~/Scripts/js/select2.min.js"></script>
    @*<script src="~/Scripts/js/matrix.popover.js"></script>*@
    <script src="~/Scripts/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/js/matrix.tables.js"></script>
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                    // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
}
